body {
  font-family: Cambria;
  background-color: #eaedf0;
  /* background-color: #ddd; */
  font-size: 11pt;
}

#resume-page {
  width: 750px;
  /* margin-top: 1em; */
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 1em; */
  background-color: white;
  padding: 3em;
  /* box-shadow: 0px 0px 0.5em; */
  box-shadow: 0px 8px 56px rgb(15 80 100 / 16%)
}

h1 {
  text-align: center;
  font-size: 14pt;
  line-height: 0;
}

h2 {
  font-size: 10pt;
  line-height: 0;
  padding-top: 0.5em;
}

hr {
  border-top: 1px;
}

#title-subheading {
  text-align: center;
  font-size: 11pt;
  padding-bottom: 0.2em;
}

#title-subheading-2 {
  text-align: center;
  font-size: 11pt;
  padding-bottom: 0.2em;
}

.windings {
  font-family: wingdings;
  padding-left: 10px;
  padding-right: 10px;
}

.heading {
  font-weight: bold;
}

.subheading {
  /* font-weight: bold; */
  /* font-style: italic; */
}

.left-align {
  float: right;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

ul {
  margin-left: -25px;
}

li {
  list-style-type: square;
  padding-bottom: 0.3em;
  padding-left: 10px
}

a {
  color: black;
}

.certnum {
  color: #999;
}

p {
  text-indent: 3em;
}
#certs {
  line-height: 1.1em;
  column-count: 2;
}

.project_urls {
  line-height: 1.1em;
  column-count: 2;
}

.project_urls li a{
  font-size: 9pt;
}

#skills {
  line-height: 1.3em;
}

/* Viewcount */

.view_count_line {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 12pt;
}

.view_count {
  font-weight: bold;
  display: inline-block;
  font-size: 14pt;
  
}

/* Download Buttons */

.download {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

button.btn > img {
  max-height: 30px;
}

button.btn {
  padding: 5px;
  cursor: pointer;
}

.btn-text {
  padding: 5px;
  vertical-align: 9px;
}

/* Responsive */

@media screen and (max-width: 780px) {
  #resume-page {
    width: 98%;
    padding: 1em;
  }
}